.wrapper {
	display: grid;
	grid-template-columns: 7% 7% 9.48% 66.35% 3.79% 3.79% 3.79%; 
}
.wrapper{
	background-color: gray;
	height:50px;
}
body{
	background-image: url("12.jpg");
	background-repeat: repeat-x;
	background-size: auto auto;
}
.grid{
	display:grid;
	grid-template-columns:3.30% 11.79% 9.43% 9.43% 9.43% 9.43% 37.74%  9.43%;
	font-size: 25px;
	background-color: white;
	height: 60px
}
.botao-inscreva-se{
	background-color: #e50914;      
    color: white;                   
    border: none;                   
    padding: 15px 20px;             
    font-size: 15px;                
    border-radius: 5px;             
    cursor: pointer;               
    transition: background-color 0.3s ease;
}
.gridd{
	display:grid;
	grid-template-columns: 10000px 50px;
	grid-template-rows: 150px 100px 200px 100px;
}
.botao {
	color:white;
	background-color:#FF0000;
	border: none;
	border-radius: 5px;
	padding: 23px 35px;
	font-size: 15px
}
h1{
	color:white;
	font-size: 25px;
	
}
h2{
	
	color:white;
}